django-bootstrap-v5==1.0.11
django-colorfield==0.11.0
django-crispy-forms==2.1
django-environ==0.11.2
django-jazzmin==3.0.0
Django==4.2
fontawesomefree==6.5.1
pillow==10.3.0
psycopg2==2.9.9
xhtml2pdf==0.2.15
django-xhtml2pdf==0.0.4