{% extends "core/base.html" %}
{% load static %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block pageTitle %}
  {{ pageTitle }}
{% endblock pageTitle %}
{% block content %}
  <section class="section-wrapper justify-content-start mt-5 px-4 w-100">
    <form method="post"
          enctype="multipart/form-data"
          class="form-wrapper"
          id="assignment-form">
      {% csrf_token %}
      
      {% for field in form %}
        <div class="input-wrapper">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.name == 'start_date' %}
              <div class="date-wrapper">{{ field }}</div>
            {% else %}
              {{ field }}
            {% endif %}
            {% if field.errors %}
              {% for error in field.errors %}
                  <p class="text-danger small">{{ error }}</p>
              {% endfor %}
            {% endif %}
        </div>
      {% endfor %}
      
      <button type="submit" class="btn submit-button">Submit</button>
    </form>
  </section>
{% endblock %}