{% extends "core/base.html" %}
{% load static %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block pageTitle %}
  {{ pageTitle }}
{% endblock pageTitle %}
{% block content %}
  <section class="section-wrapper justify-content-start mt-5 px-4 w-100">
    <form method="post" class="form-wrapper">
      {% csrf_token %}
      
      {% for field in form %}
        <div class="input-wrapper">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.name == 'start_date' or field.name == 'service' %}
              <div class="date-wrapper" id="validate">{{ field }}</div>
            {% elif field.name in SELECT_FIELDS %}
              <div class="select-wrapper">
                <i class="fa-solid fa-play select-icon"></i>
                {{ field }}
                <div class="select-arrow"></div>
              </div>
            {% else %}
              {{ field }}
            {% endif %}
            {% if field.errors %}
              {% for error in field.errors %}
                  <p class="text-danger small">{{ error }}</p>
              {% endfor %}
            {% endif %}
        </div>
      {% endfor %}
      
      <button type="submit" class="btn submit-button">Submit</button>
    </form>
  </section>
{% endblock %}

{% block scripts %}
  {{ block.super}}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const inputs = document.querySelectorAll('input, select');
      const fields = ['#id_start_date_0', '#id_start_date_1', '#service'];
      fields.forEach(field => document.querySelector(field).addEventListener('change', enableInputs));
    
      function toggleInputs(enabled) {
        const opacity = enabled ? 1 : 0.25;
        const cursor = enabled ? 'pointer' : 'not-allowed';
        inputs.forEach(input => {
          if (!fields.includes(`#${input.id}`)) {
            input.disabled = !enabled;
            input.style.opacity = opacity;
            input.style.cursor = cursor;
          }
        });
      }
    
      function enableInputs() {
        const startDate = document.querySelector('#id_start_date_0').value;
        const startTime = document.querySelector('#id_start_date_1').value;
        const service = document.querySelector('#service').value;
        const enabled = startDate && startTime && service;
        toggleInputs(enabled);
      
        if (enabled) {
          const url = new URL("{% url 'get_available_chairs' %}", window.location.origin);
          url.searchParams.append('start_date', startDate);
          url.searchParams.append('start_time', startTime);
          url.searchParams.append('service_id', service);
        
          if (window.location.pathname.includes('edit')) {
            const assignmentId = window.location.pathname.split('/')[3];
            url.searchParams.append('assignment_id', assignmentId);
          }
        
          fetch(url, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json',
              'X-Requested-With': 'XMLHttpRequest',
            },
          })
          .then(response => response.json())
          .then(data => {
            if (data.error) {
              throw new Error(data.error);
            }
          
            const select = document.querySelector('#chair');
            const options = select.querySelectorAll('option');
            options.forEach(option => {
              if (option.value !== '') {
                option.remove();
              }
            });
          
            data.available_chairs.forEach(chair => {
              const option = document.createElement('option');
              option.value = chair[0];
              option.text = chair[1];
              select.appendChild(option);
            });
          })
          .catch((error) => {
            console.error('Error:', error);
          });
        }
      }
    
      toggleInputs(false);
      enableInputs();
    });
  </script>
{% endblock %}
