{% extends "core/base.html" %}
{% load static %}
{% block title %}
  {{ title }}
{% endblock title %}
{% block pageTitle %}
  {{ pageTitle }}
{% endblock pageTitle %}
{% block content %}
  <section class="section-wrapper justify-content-start mt-5 px-4 w-100">
    <form method="post"
          enctype="multipart/form-data"
          class="form-wrapper"
          id="service-form">
      {% csrf_token %}
      
      {% for field in form %}
        {% if field.name == 'image' %}
        <div class="file-uploader">
            <label for="{{ form.image.id_for_label }}">
                {% if form.image.value %}
                <img src="{{ form.instance.image.url }}"
                     alt="Service Image"
                     class="object-fit-contain" />
                {% else %}
                <img src="{% static 'massage/images/service-upload.svg' %}"
                     alt="Service Image">
                {% endif %}
            </label>
            {{ field }}
        </div>
        {% else %}
        <div class="input-wrapper">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            {% for error in field.errors %}
                <p class="text-danger small">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>
        {% endif %}
      {% endfor %}
      
      <button type="submit" class="btn submit-button">Submit</button>
    </form>
  </section>
  <script>
      const fileInput = document.getElementById('image-upload');
      const img = document.querySelector('.file-uploader img');
      fileInput.addEventListener('change', function() {
          const file = this.files[0];
          if (file) {
              const reader = new FileReader();
              reader.onload = function() {
                  img.style.objectFit = 'contain';
                  img.src = reader.result;
              }
              reader.readAsDataURL(file);
          }
      });
  </script>
{% endblock %}