{% extends "core/base.html" %}
{% load static %}
{% block title %}
  Change Password
{% endblock title %}
{% block pageTitle %}
  Change Password
{% endblock pageTitle %}
{% block content %}
  <section class="section-wrapper justify-content-start mt-5 px-4 w-100">
    <form method="post" class="form-wrapper">
      {% csrf_token %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger text-center">
            <p>{{ error }}</p>
          </div>
        {% endfor %}
      {% endfor %}
      {% if form.non_field_errors %}
        <div class="alert alert-danger text-center">
          {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
        </div>
      {% endif %}
      <div class="input-wrapper">
        <label for="username">Username</label>
        {{ password_form.username }}
      </div>
      <div class="input-wrapper">
        <label for="new_password">New Password</label>
        {{ password_form.new_password }}
      </div>
      <div class="input-wrapper">
        <label for="confirm_password">Confirm Password</label>
        {{ password_form.confirm_password }}
      </div>
      <button type="submit" class="btn submit-button">Change Password</button>
    </form>
  </section>
{% endblock %}
