{% extends "core/base.html" %}
{% load static %}
{% block title %}
  Employee List
{% endblock title %}
{% block pageTitle %}
  Employee List
{% endblock pageTitle %}
{% block content %}
  <section class="section-wrapper justify-content-start mt-5 px-3">
    <ul class="list-wrapper">
      {% for employee in employees %}
        <li class="employee">
          <div class="employee-image">
            <img src="{{ employee.image.url }}" alt="{{ employee.name }}">
          </div>
          <div class="employee-info">
            <h2>{{ employee.name }}</h2>
            <p>{{ employee.phone }}</p>
            <p>{{ employee.address }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
