{% extends "core/base.html" %}
{% load static %}
{% block title %}
  New Employee
{% endblock title %}
{% block pageTitle %}
  New Employee
{% endblock pageTitle %}
{% block content %}
  <section class="section-wrapper justify-content-start mt-5 px-4 w-100">
    <form method="post"
          enctype="multipart/form-data"
          class="form-wrapper"
          id="employee-form">
      {% csrf_token %}
      {% if form.errors %}
        <div class="alert alert-danger text-center">
          {% for field in form %}
            {% for error in field.errors %}<p>{{ error }}</p>{% endfor %}
          {% endfor %}
        </div>
      {% endif %}
      <div class="file-uploader">
        <label for="image-upload">
          <img src="{% static 'massage/images/image-upload.svg' %}"
               alt="Profile Image">
        </label>
        <input type="file" name="image" id="image-upload" accept="image/*" required>
      </div>
      <div class="input-wrapper">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" required>
      </div>
      <div class="input-wrapper">
        <label for="phone">Tlp. Number</label>
        <input type="text" name="phone" id="phone" class="form-control" required>
      </div>
      <div class="input-wrapper">
        <label for="address">Address</label>
        <input type="text" name="address" id="address" class="form-control" required>
      </div>
      <div class="input-wrapper">
        <label for="age">Age</label>
        <input type="number" name="age" id="age" class="form-control" required>
      </div>
      <div class="input-wrapper">
        <label for="username">Username</label>
        <input type="text"
               name="username"
               id="username"
               class="form-control"
               required>
      </div>
      <div class="input-wrapper">
        <label for="password">Password</label>
        <input type="password"
               name="password"
               id="password"
               class="form-control"
               required>
      </div>
      <button type="submit" class="btn submit-button">Submit</button>
    </form>
  </section>
  <script>
      const fileInput = document.getElementById('image-upload');
      const img = document.querySelector('.file-uploader img');
      fileInput.addEventListener('change', function() {
          const file = this.files[0];
          if (file) {
              const reader = new FileReader();
              reader.onload = function() {
                  img.src = reader.result;
              }
              img.style.borderRadius = '50%';
              reader.readAsDataURL(file);
          }
      });
  </script>
{% endblock %}
