{% extends "core/base.html" %}
{% load static %}
{% load templatetags %}
{% block title %}Report{% endblock %}
{% block pageTitle %}
  Report
{% endblock pageTitle %}
{% block content %}
  <section class="section-wrapper justify-content-start mt-5 w-100">
    <form method="GET">
      <div class="filter-wrapper">
        <div class="filter-wrapper__month">
          <div class="select-wrapper">
            <i class="fa-solid fa-play select-icon"></i>
            {{ filter_form.month }}
            <div class="select-arrow"></div>
          </div>
        </div>
      </div>
      <input id="filter-submit" type="submit" value="Filter" hidden>
    </form>
    <table class="report__table">
      <thead>
        {% if report %}
          <tr>
            <th style="padding-bottom: 20px; font-size: 20px;">Total</th>
            <th style="padding-bottom: 20px; font-size: 20px;">{{ summary.revenue|currency_format_dot }}</th>
            <th style="padding-bottom: 20px; font-size: 20px;">{{ summary.supervisor_fee|currency_format_dot }}</th>
            <th style="padding-bottom: 20px; font-size: 20px;">{{ summary.employee_fee|currency_format_dot }}</th>
            <th style="padding-bottom: 20px; font-size: 20px;">{{ summary.nett_revenue|currency_format_dot }}</th>
          </tr>
        {% endif %}
        <tr>
          <th style="font-size: 16px; font-weight: 600; padding-top: 20px;">Date</th>
          <th style="font-size: 16px; font-weight: 600; padding-top: 20px;">Revenue</th>
          <th style="font-size: 16px; font-weight: 600; padding-top: 20px;">Supervisor Fee</th>
          <th style="font-size: 16px; font-weight: 600; padding-top: 20px;">Employee Fee</th>
          <th style="font-size: 16px; font-weight: 600; padding-top: 20px;">Nett Revenue</th>
        </tr>
      </thead>
      <tbody>
      {% if report %}
        {% for item in report %}
          <tr>
            <td style="font-size: 14px;">{{ item.date }}</td>
            <td style="font-size: 14px;">{{ item.revenue|currency_format_dot }}</td>
            <td style="font-size: 14px;">{{ item.supervisor_fee|currency_format_dot }}</td>
            <td style="font-size: 14px;">
              {% if item.employee_fee == 'unpaid' %}
                Unpaid
              {% else %}
                {{ item.employee_fee|currency_format_dot }}
              {% endif %}
            </td>
            <td style="font-size: 14px;">
              {% if item.nett_revenue == 'unpaid' %}
                {{ item.revenue|currency_format_dot }} (Unpaid)
              {% else %}
                {{ item.nett_revenue|currency_format_dot }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="5"class="empty-row">
            <span>
              No Report Found
            </span>
          </td>
        </tr>
      {% endif %}
      </tbody>
    </table>
  </section>
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script>
    const filterSubmit = document.getElementById('filter-submit');
    const monthSelect = document.querySelector('.filter-wrapper__month select');
    monthSelect.addEventListener('change', () => filterSubmit.click());
  </script>
{% endblock scripts %}