{% extends "core/auth_base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="text-center">
    <h1 class="mb-2">Massage</h1>
    <p>Please enter your login credentials.</p>
  </div>
  <form method="post" class="form-wrapper">
    {% csrf_token %}
    {% for field in form %}
      <div class="input-wrapper">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
        {% for error in field.errors %}
            <p class="text-danger small">{{ error }}</p>
        {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn submit-button">Login</button>
  </form>
{% endblock content %}