@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: #1a1918;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Nova Slim', sans-serif;
  font-size: 35px;
  color: #724212;
}

p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.btn:focus,
.btn:active,
.btn-close:focus,
.btn-close:active {
  outline: none !important;
  box-shadow: none !important;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  padding-block: 50px;
  position: relative;
  row-gap: 24px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.image-wrapper {
  width: 100%;
  height: fit-content;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.circle {
  width: 350px;
  height: 350px;
  background-color: rgba(126, 169, 209, 0.506);
  filter: blur(100px);
  z-index: -999;
  position: absolute;
}

.circle-top-left {
  border-bottom-right-radius: 100%;
  top: 0;
  left: 0;
}

.circle-bottom-right {
  border-top-left-radius: 100%;
  bottom: 0;
  right: 0;
}

.offcanvas {
  width: 50%;
  background-color: #5291ac;
  color: white;
  padding-block: 50px;
}
.offcanvas-header {
  border-bottom: 1px solid white;
}

.offcanvas-title {
  color: white;
  font-weight: 600;
}

.offcanvas-body {
  border-bottom: 1px solid white;
}

.toast-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  max-width: 300px;
}

.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.toast-body button {
  font-size: 8px;
  cursor: pointer;
}

.navbar-nav {
  display: flex;
  gap: 8px;
}

.menu {
  width: fit-content;
}

.menu-toggle {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
  width: fit-content;
}

.menu-toggle:hover {
  cursor: pointer;
}

.menu-toggle span {
  font-weight: 400;
  margin: 0;
}

.submenu-list {
  display: block;
  margin-left: 8px;
}

.submenu-list li {
  list-style: none;
  margin-bottom: 8px;
}

.submenu-list a {
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.submenu-list a:hover {
  text-decoration: underline;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.info-card {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 24px;
  align-items: center;
}

.info-card-image,
.info-card-service {
  width: 120px;
  height: auto;
}

.info-card-image {
  aspect-ratio: 1/1;
}

.info-card-service {
  aspect-ratio: 4/3;
}

.info-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.info-card-service img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.info-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  gap: 8px;
}

.info-card-actions {
  display: flex;
  gap: 8px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.form-auth-wrapper, .form-confirm-wrapper {
  padding: 24px;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  background-color: rgba(126, 169, 209, 0.806);
  align-items: center;
}

.form-signin, .form-confirm {
  padding: 24px;
  gap: 24px;
  flex-direction: column;
  display: flex;
  border-radius: 16px;
  background-color: white;
}

.file-uploader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-uploader input[type='file'] {
  position: absolute;
  opacity: 0;
}

.file-uploader img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.file-uploader img:hover {
  cursor: pointer;
}

.input-wrapper {
  width: 100%;
}

.input-wrapper input {
  display: block;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
  padding-inline: 8px;
}

.input-wrapper input:focus,
.input-wrapper input:active {
  outline: none !important;
  box-shadow: none !important;
  background: transparent;
  border-bottom: 1px solid #000;
}

.select-wrapper {
  position: relative;
}

.select-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  z-index: -1;
  color: #56a4ff;
  font-size: 12px;
}

.input-wrapper .form-select {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
}

.input-wrapper .form-select:hover {
  cursor: pointer;
}

.input-wrapper .form-select option {
  background-color: white;
  color: #1a1918;
}

.input-wrapper .form-select:focus,
.input-wrapper .form-select:active {
  outline: none !important;
  box-shadow: none !important;
  background: transparent;
  border-bottom: 1px solid #000;
}

.date-wrapper {
  display: flex;
  gap: 8px;
}

.color-picker {
  display: flex;
  gap: 8px;
  align-items: center;
}

.edit-button, .general-button, .delete-button, .pay-button, .submit-button {
  background-color: #4bd4ff;
  color: #1a1918;
  padding-block: 8px;
  padding-inline: 24px;
  text-align: center;
  width: fit-content;
  border-radius: 50px;
}

.delete-button {
  background-color: #ff4b4b;
}

.pay-button {
  background-color: #4bff4b;
}

.active, .inactive {
  padding-block: 8px;
  padding-inline: 24px;
  text-align: center;
  width: fit-content;
  border-radius: 24px;
}

.active {
  background-color: #4bff4b;
}

.inactive {
  background-color: #ff4b4b;
}

.btn:hover {
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
  color: white;
}

.btn-link {
  padding: 0;
}

.btn-link:hover {
  text-decoration: underline;
  color: #56a4ff;
}

.chart-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 24px;
}

.chart-actions {
  display: grid;
  grid-auto-rows: auto;
  align-items: center;
  gap: 12px;
  padding-inline: 24px;
}

.new-button {
  background-color: #4bd4ff;
  color: #1a1918;
  padding-block: 7px;
  padding-inline: 20px;
  text-align: center;
  width: fit-content;
  margin: auto;
}

.content-group {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  gap: 24px;
  height: 100%;
  position: relative;
}

.content-group .chairs {
  display: contents;
}

.time-slots, .tasks {
  display: grid;
}

.time-slots {
  grid-template-rows: repeat(9, 1fr);
  row-gap: 64px;
}

.tasks {
  grid-template-rows: repeat(240, 0.05fr);
}

.task {
  display: flex;
  width: 100%;
  padding: 8px;
  z-index: 1;
}

.task:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.task-item {
  height: fit-content;
  width: auto
}

.task-item__time, .task-item__employee, .task-item__service {
  font-size: 16px;
  color: #151313;
}

.task-item__time {
  font-weight: 600;
}

.modal-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-item .modal-item__time {
  font-size: 16px;
  font-weight: 600;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.indicator {
  width: inherit;
  text-align: center;
  padding: 8px;
  font-size: 16px;
  color: white;
  background-color: #5291ac;
}

.receipt-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 18px;
}

.receipt-header h3 {
  font-weight: 700;
  font-size: 24px;
}

.receipt-header p {
  font-size: 20px;
}

.receipt-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.receipt-line {
  border: none;
  border-top: 2px solid black;
  color: black;
  background-color: black;
  opacity: 1;
}

.receipt-info, .receipt-services, .receipt-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}

.receipt-info-left, .receipt-info-right, .receipt-total, .receipt-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.receipt-info-left p, .receipt-info-right p, .receipt-services p, .receipt-total__label, .receipt-total__value, .receipt-additional__label {
  font-size: 14px;
}

.receipt-info-right p, .receipt-total p {
  text-align: right;
}

.receipt-total{
  display: grid;
  grid-template-columns: 1.5fr 0.75fr;
  margin-top: 12px;
  margin-bottom: 64px;
}

.receipt-total__labels, .receipt-total__values {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: right;
}

.receipt-total__label, .receipt-total__value {
  font-weight: 700;
}

.receipt-additional__service {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
}

.receipt-actions {
  justify-content: center;
  align-items: center;
}

.receipt-additional__label {
  color: #2AA3BE;
}

.receipt-additional__label:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #1f7f94;
}

.receipt-additional__service {
  margin-block: 8px;
}

.filter-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.chart-actions .filter-wrapper {
  justify-content: space-between;
}

.filter-wrapper input, .filter-wrapper .form-select {
  border: none;
  border-radius: 0;
  outline: none;
  background: white;
  padding-block: 8px;
}

.filter-wrapper input:focus,
.filter-wrapper input:active,
.filter-wrapper .form-select:focus,
.filter-wrapper .form-select:active {
  outline: none !important;
  box-shadow: none !important;
}

.filter-wrapper__employee {
  max-width: 50%;
}


.select-wrapper {
  position: relative;
}

.select-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  z-index: 1;
  color: #56a4ff;
  font-size: 12px;
  pointer-events: none;
}

.filter-wrapper .form-select option {
  background-color: white;
  color: #1a1918;
}

.payment-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.table-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.payment-form__employee {
  font-size: 25px;
  font-weight: 700;
  margin-left: 40px;
}

.payment-form__table {
  width: 100%;
  table-layout: fixed; 
}

.payment-form__table th:nth-child(1), .payment-form__table td:nth-child(1) {
  width: 20%;
  padding-inline: 2px;
}
.payment-form__table th:nth-child(2), .payment-form__table td:nth-child(2) {
  width: 30%;
  padding-inline: 2px;
}
.payment-form__table th:nth-child(3), .payment-form__table td:nth-child(3) {
  width: 15%;
  padding-inline: 2px;
}
.payment-form__table th:nth-child(4), .payment-form__table td:nth-child(4) {
  width: 15%;
  padding-inline: 2px;
}
.payment-form__table th:nth-child(5), .payment-form__table td:nth-child(5) {
  width: 20%;
  padding-inline: 2px;
}

.payment-form__table th, .payment-form__table td {
  text-align: center;
  word-wrap: break-word;
  padding-block: 8px;
}

.payment-form__table th {
  font-weight: 700;
  font-size: 16px;
}

.payment-form__table td {
  font-size: 12px;
  font-weight: 500;
}

.report__table {
  width: 100%;
  table-layout: fixed;
}

.report__table th:nth-child(1), .report__table td:nth-child(1) {
  width: 20%;
}
.report__table th:nth-child(2), .report__table td:nth-child(2) {
  width: 25%;
}
.report__table th:nth-child(3), .report__table td:nth-child(3) {
  width: 25%;
}
.report__table th:nth-child(4), .report__table td:nth-child(4) {
  width: 30%;
}

.report__table th, .report__table td {
  text-align: center;
  word-wrap: break-word;
  padding-block: 8px;
}

.report__table th {
  font-weight: 700;
  font-size: 16px;
}

.report__table td {
  font-size: 12px;
  font-weight: 500;
}

.paid {
  background-color: #8afc80a8;
}

.paid:hover, .unpaid:hover {
  cursor: pointer;
}

.paid:hover {
  background-color: #8afc80a8;
}

.unpaid:hover {
  background-color: #f0f0f0;
}

.payment-form__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 24px;
}

.payment-form__info__legend, .payment-form__info__fee {
  display: flex;
  gap: 8px;
  align-items: center;
}

.payment-form__info__legend__paid {
  width: 16px;
  height: 16px;
  background-color: #8afc80a8;
}

.payment-form__info__fee span {
  font-size: 24px;
  font-weight: 700;
}

.payment-actions {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}