{% extends "core/base.html" %}
{% load static %}
{% load price_filters %}
{% block title %}
  List Price & Duration
{% endblock title %}
{% block pageTitle %}
  List Price & Duration
{% endblock pageTitle %}
{% block content %}
  <section class="section-wrapper justify-content-start mt-5 px-3">
    <ul class="list-wrapper">
      {% for service in services %}
        <li class="info-card">
          <div class="info-card-service">
            <img src="{{ service.image.url }}" alt="{{ service.name }}">
          </div>
          <div class="info-card-content">
            <h2>{{ service.name }}</h2>
            <p>{{ service.price|currency }}</p>
            <p>{{ service.duration }} mins.</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
